<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.confessionapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ConfessionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConfessionApp">

        <activity
            android:name=".ui.ConfessorDashboardActivity"
            android:exported="true"
            android:label="Confessor Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        {/* TODO: Add other activities, services, receivers etc. here */}
        {/* TODO: Ensure @string/app_name and @style/Theme.ConfessionApp and launcher icons exist or define them */}

    </application>

</manifest>
